<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="/styles/module.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <title>Document</title>
</head> 
<body>
    
    <div>Hello World</div>
    <h2>Books Count: <%=allBooks.length%></h2>
    <div>
<h3>My Books So Far</h3>

<ul>
    <% for(let i = 0; i < allBooks.length; i++){ %>
 
        <li>
            
          <h2><%= allBooks[i].title %></h2>
            <img src =  "<%= allBooks[i].image_url%> " > 
            <h2>Author: <%= allBooks[i].author %></h2>
            <h2>Description:</h2>
           <p> <%= allBooks[i].description %></p>
            
      
          
          
        </li>
 
        <% } %>
    </ul>
    </div>

</body>
</html>